.login-container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.login-container-blog {
    width: 400px;
    border-radius: 50px;
    padding: 25px 50px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.login-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-top h1 {
    color: var(--blue-color);
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.login-form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 2px 0px;
}

.login-form-left {
    width: auto;
}

.login-form-right {
    width: 70%;
}

.login-form-right input {
    width: 100%;
    border-width: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 8px;
} 

.login-form-right select {
    width: 100%;
    border-width: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 8px;
} 

.login-btn-div {
    display: flex;
    justify-content: space-around;
}

.login-btn {
    height: 32px;
    width: 45%;
    margin-top: 16px;
    cursor: pointer;
}

.register-btn{
    cursor: pointer;
}

.register-btn a{
    color: white;
}


@media screen and (max-width: 400px) {
    .login-container {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
    
    .login-container-blog {
        width: 90%;
        min-width: 300px;
        padding: 25px 30px;
    }

    .login-form-right {
        width: 50%;
    }
}