.profile-container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.profile-container-blog {
    width: 60%;
    border-radius: 50px;
    padding: 25px 50px;
    min-width: 700px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.profile-container-blog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.profile-activities-list {
    list-style-type: circle;
}

.profile-activities-list li {
    margin-bottom: 8px;
}

.profile-hi {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}

.profile-welcome {
    font-size: 30px;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    color: red;
}