
.add-activity-icon {
    height: 60px;
    width: 60px;
    fill: white;
}

.bg-blue {
    background: var(--blue-color);
}

.bg-orange {
    background: var(--orange-color);
}

.today {
    background: var(--orange-color) !important;
}

#add-act-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 128px;
}

#add-act-btn-mobile {
    display: none;
    height: 48px;
    width: 48px;
    fill:var(--orange-color);
}

.add-activity-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.activity-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 16px;
}

.activity-detail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.activity-detail input {
    width: 60%;
    border-width: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 8px;
}

.activity-detail textarea {
    width: 60%;
    height: 108px;
    border-width: 0px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 8px;
    resize: none;
}

.activity-detail-submit {
    display: flex;
    justify-content: end;
}

.activity-detail-submit button {
    width: 100px;
    height: 35px;
}

.activity-detail-submit-mobile button {
    width: 100%;
    height: 35px;
}

.activity-type {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    /* aspect-ratio: 1/1; */
}

.activity-type-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.activity-type-btn {
    background: var(--blue-color);
    border: none;
    border-radius: 50%;
    padding: 20px;
    width: 120px;
    box-sizing: border-box;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .add-activity-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .activity-details {
        width: 100%;
    }

    .activity-detail textarea {
        height: 32px;
    }

    .activity-type {
        width: 100%;
        /* justify-content: space-between; */
    }

    .activity-type-row {
        justify-content: space-between;
        padding-bottom: 16px;
    }

    .activity-type-btn {
        width: 45%;
    }
}