.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    color: var(--blue-color);
    background-color: white;
    position:fixed;
    top:0px;
    z-index: 99;
}

.navbar-menus {
    height: 100%;
}

.navbar-menus ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    height: 100%;
}

.navbar-menus-menu {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    height: 100%;
    background: white;
}

.navbar-menus-menu:hover {
    color: var(--blue-color);
    background: var(--white-dark-color);
}

.navbar-menus-register {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    height: 100%;
    color: white;
    background: var(--blue-color);
}

.navbar-menus-register:hover {
    background: var(--dark-blue-color);
}

.navbar-hamburger {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--blue-color);
}